*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
html{
    overflow-x: hidden;
}
body{
    position: relative;
}
.hide{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1031;
    background-color: rgb(130, 79, 72);
    transition: 300ms;
    text-align: center;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.hide.trans{
    top: 0;
    border-radius: 0;
}
.content{
    min-height: 100vh;
    padding-top: 60px;
    background-color: rgba(0, 0, 0, 0.768);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
form .btn{
    width: 100%;
}
.item-block{
    border-radius: 5px;
    border: white 1px solid;
    margin: 2px;
    padding: 2px;
}
.socialaccount_provider{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: white 1px solid;
    color: white;
    text-decoration: none;
    transition: 300ms;
}
.socialaccount_provider:hover{
    background-color: rgba(255, 0, 0, 0.148);
    color: white;
    text-decoration: none;
}
.homelink{
    color: white;
}
.homelink:hover{
    color: white;
}
.card{
    border: 4px solid rgba(0, 0, 0, 0.905);
}
.card-body{
    background-color: rgba(0, 0, 0, 0.852);
}
.list-group-item-dark{
    background-color: rgba(0, 0, 0, 0.6);
}
.list-group{
    width: calc(100% - 20px);
    margin: 10px;
}