{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Game List{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/games/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/games/game.css' %}">
{% endblock links %}

{% block content %}
    <div class="list-content">
        <div class="list">
            <h3>List</h3>
            {% for game in games %}
                {% include 'games/game.html' with game=game %}
            {% endfor %}
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{% url 'game_list'%}?page=1">1...</a></li>
                {% for i in paginate_range %}
                    {% if i == page %}
                        <li class="page-item active"><a class="page-link" href="{% url 'game_list'%}?page={{i}}">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'game_list'%}?page={{i}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item"><a class="page-link" href="{% url 'game_list'%}?page={{end_page}}">...{{end_page}}</a></li> 
            </ul>
        </div>
        <div class="filter">
            <h3>Filters</h3>
            <form action="{% url 'game_list' %}" method="POST" class="filter_form">
                {% csrf_token %}
                <input type="submit", value="Search", class="btn btn-success">
                {{filter_form|crispy}}    
            </form>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js\games\list_ajax.js' %}"></script>
{% endblock scripts %}