<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}GAme(Y) store{% endblock title %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block links %}{% endblock links %}
    </head>
    <body>
        <div class="content">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <span class="navbar-brand">
                        <a href="{% url 'home' %}" class="homelink"><b>GAme(Y) store</b></a>
                    </span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown me-4">
                                {% if user.is_authenticated %}
                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{user.first_name}}
                                    </button>
                                {% else %}
                                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Please login!
                                    </button>
                                {% endif %}
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {% if user.is_authenticated %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'account_signup' %}">SignUp</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="nav-item me-4"><a class="nav-link" href="{% url 'game_list' %}">Game list</a><li/>
                        </ul>
                    </div>
                </nav>
            </header>
            {% block content %}{% endblock content %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>   
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>